{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["styled-components", { "displayName": true }],
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-optional-chaining", {"noDocumentAll": false}, "transform"],
    ["@babel/plugin-proposal-optional-chaining", {"noDocumentAll": false}, "proposal"],
    
  ],
}
